{% trans_default_domain 'FOSUserBundle' %}

<link rel="stylesheet" href="{{ asset('css/login.css') }}" />
<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>


<center>
<div style="width: 50%;">

    <div class="login">
        <h1>Inscription</h1>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}


                    {{form_widget(form.email, {'attr':{'class':"span12",
                        'placeholder': "Email"}}) }}
                    {{form_errors(form.email)}}


                    {{form_widget(form.username, {'attr':{'class': "span12",
                        'placeholder': "Pseudo"}}) }}
                    {{form_errors(form.username)}}



                    {{ form_widget (form.plainPassword.children['first'],  { 'attr': {'class': "span12",
                        'placeholder': "Mot de passe"} }) }}

					{{ form_widget (form.plainPassword.children['second'], { 'attr': {'class': "span12",
                        'placeholder': "Confimation mot de passe"} }) }}



                <div>
                    <button class="btn btn-primary btn-block btn-large" type="submit" value="{{ 'registration.submit'|trans }}" >S'inscrire</button>
                </div>
    </div>
</div>
    </center>
{{ form_end(form) }}
