{% extends 'AppPhotoBundle:Default:frontLayout.html.twig' %}
{% block body %}
    <h1>Game</h1>

    <table>
        <tbody>
            <tr>
                <td>Image</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('game_index') }}">Retour à la liste des jeux</a>
        </li>
        <li>
            <img src="{{ asset('uploads/images/medias/' ~ game.toGuessImage.image) }}" alt="{{ game.toGuessImage.comment }}" class="img-responsive">
        </li>
    </ul>
    {% if is_leader %}
        <h1>You are the leader</h1>
        <ul>
            <li>
				{% for answer in answers %}
                    <div>
                        <p>Solution postée par <strong>{{ answer.user }}</strong> : </p>
                        <img src="{{ asset('uploads/images/medias/' ~ answer.image.image) }}" alt="{{ answer.image.comment }}" class="img-responsive">

                    </div>
                    <ul>
                        <li>
                            <a href="{{ path('game_end_turn', {id: answer.id}) }}"><button>Valider la solution</button></a>
                        </li>
                        <li>
                            <button>TODO: Implémenter le rejet des solutions</button>
                        </li>
                    </ul>
				{% endfor %}
            </li>
            <li>
				{{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer l'image (et la quête)">
				{{ form_end(delete_form) }}
            </li>
        </ul>
    {% else %}
        <h1>You are a player</h1>
        <a href="{{ path('gameanswer_new', {id: game.id}) }}">
            <button>Poster une réponse</button>
        </a>
    {% endif %}
{% endblock %}
