{% extends 'AppPhotoBundle:Default:frontLayout.html.twig' %}
{% block body %}
    {% for game in games if (game.toGuessImage is not null) %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<img src="{{ asset('uploads/images/medias/' ~ game.toGuessImage.image) }}" alt="{{ game.toGuessImage.comment }}" class="img-responsive">
			</div>
		</div>
		<br />
		<div class="row jumbotron">
			<div class="col-xs-12 " style="text-align: center;">
				<div style="margin-bottom: 15px;">Postée par : <br />
					<a href="">machin</a> </div>
				<a href="{{ path('game_index') }}"><button type="button" class="btn btn-primary">Participer</button></a>
			</div>
		</div>
			{% endfor %}
		<footer class="navbar-fixed-bottom" style="margin-bottom:8px">
			<div class="row">
				<center>
					<div class="col-xs-4">
						<a title="Profil" href="{{ path('profil') }}"><i class="fa fa-users fa-3x" aria-hidden="true"></i></a>
					</div>
					<div class="col-xs-4">
						<a title="Créer une partie" href="{{ path('game_new') }}"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></a>
					</div>
					<div class="col-xs-4">
						<a title="Classement" href="{{ path('classement') }}"><i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i></a>
					</div>
				</center>
			</div>
		</footer>
	</div>
{% endblock %}