{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gameanswers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gameAnswer in gameAnswers %}
            <tr>
                <td><a href="{{ path('gameanswer_show', { 'id': gameAnswer.id }) }}">{{ gameAnswer.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gameanswer_show', { 'id': gameAnswer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gameanswer_edit', { 'id': gameAnswer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('gameanswer_new') }}">Create a new gameAnswer</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
